body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #016f32;
    font-size:30px;
    color: #fff;
    
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    font-size:large;
    color: #016f32;
    background-color: goldenrod;
    border: none;
    height: 50px;
    width: 230px;
    cursor: pointer;
    margin: 10px;
    border-radius: 30px;
}

button:hover {
    color: goldenrod;
    background: #016f32;
    border: 1px solid goldenrod;
}

